*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}
a,
a:hover {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.para-1 {
  font-size: 18px;
  font-weight: 400;
  color: var(--text-color);
  padding: 5px 5px 5px;
}

.para-2 {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-color);
  padding: 5px 0px 5px;
  position: relative;
}
.para-2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 1px;
  background: var(--text-color);
  width: 100px;
}
.para-2 i {
  margin-left: 8px;
  transform: rotate(320deg);
  font-weight: 100;
  font-size: 15px;
}
.para-2:nth-child(1) {
  margin-right: 15px;
}

.para-3 {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-2-color);
}

/* ==== Varibal Define ==== */

:root {
  --white-color: #fff;
  --black-color: #010101;
  --text-color: #f2f4f3;
  --text-2-color: #8d949c;
  --primary-font: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}

.wrapper {
  padding-top: 6.25rem;
  padding-bottom: 4.25rem;
}

/* ------------------------------------------------------------------- */

.con-fluid {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo span {
  color: #00d473;
  font-size: 39px;
  font-weight: 700;
}
.logo {
  font-size: 30px;
}
.nav-item {
  font-weight: 500;
}

/* .btns {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.main-btn {
  outline: 1px solid var(--text-color);
  border-radius: 25px;
  padding: 10px 15px 10px;
  font-size: 15px;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease;
 
}
.main-btn:hover {
  transform: scale(1.1);
  background-color: #139b5e;
}
.btn-green {
  background-color: #00d473;
  color: var(--white-color);
  outline: none;
  border: none;
}

.btn-white {
  background-color: var(--white-color);
  color: var(--black-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #c3c9cf;
}
.btn-white:hover {
  color: white;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotate {
  transform: rotate(320deg);
}

.one {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 0;
}
.two {
  height: 100%;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.one {
  padding-top: 200px;
}

.glass {
  height: 300px;
  width: 300px;
  padding: 10px;
  border-radius: 14px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}
.glass-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.g-img{
  height: 200px;
  width: 200px;
  border-radius: 12px;
  background-image: url(../images/screen-0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.glass-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 35px;
}
.glass-bottom .glass-arrow-icon {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(320deg);
}
.glass-bottom .glass-text {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 0;
  font-size: 15px;
  padding-right: 10px;
}

/* 
=====================================
Home Design
===================================== 
*/

.home-half-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  border-bottom-right-radius: 30x;
}

.home-half-1 h1 {
  font-size: 90px;
  /* color: var(--white-color); */
  background: linear-gradient(to right, #f9f9f9, #dbd5d5);
  -webkit-background-clip: text;
  color: transparent;
}

.home-hlaf-1-para {
  display: flex;
  gap: 5px;
}
.home-hlaf-1-para i {
  font-weight: 700;

}

.home-half-2-lower {
  margin-top: -154px;
  margin-right: -88px;
  padding: 25px;
  display: flex
;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white-color);
  border-top-left-radius: 30px;
}

.banner {
  height: 700px;
  width: 95%;
  margin: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/wind-fan.jpg);
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}

li a .login-1 {
  display: none;
}

.none {
  display: none;
}

.after-banner-1 h1 {
  font-weight: 500;
  font-size: 40px;
}
.after-banner-1 h1 span {
  color: var(--text-2-color);
  font-weight: 500;
  font-size: 40px;
}

.after-banner-2 p {
  color: var(--text-2-color);
}
.circle-area {
  
}

.circle {
  background-color: var(--text-color);
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--text-color);
  font-weight: 500;
  font-size: 18px;
  color: var(--black-color);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease;
 
}

.circle:hover {
  transform: scale(1.1);
}

.circle i {
  font-size: 30px;
  padding-right: 6px;
}
.circle p {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover {
  background-color: var(--white-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f2f4f3;
  color: #00d473;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

#service {
  background-color: #f2f4f3;
}

.service-text,
.service-text-2 {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* .service-text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.service-text h1,
.service-text-1 h1,
.service-text-2 h1 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 30px;
}
.service-text h1 span,
.service-text-1 span,
.service-text-2 span {
  color: var(--text-2-color);
  font-weight: 500;
  font-size: 40px;
}

.service-card {
  /* height: 200px; */
  background-color: var(--white-color);
  padding: 30px;
  border: 1px solid var(--text-color);
}

.turn {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--text-color);
  padding: 0;
}

.icon {
  display: inline-block;
  /* padding: 10px; */
  border-radius: 10px;
  box-shadow: 3px 3px 3px var(--text-color);
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.service-card .icon i {
  font-size: 22px;
  margin-bottom: 10px;
}
.service-card .heading {
  padding-top: 15px;
}

.service-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding-left: 10px; 
  padding-right: 10px;  */
}


.service-img img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
}

.no-box {
  padding-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 175px;
  gap: 20px;
  
}

.no {
  width: 48%;
  border: 1px solid var(--text-color);
  border-radius: 20px;
  padding-right: 32px;
  padding-top: 15px;
  padding-left: 15px;
  
}
.ser-text:nth-child(1) {
  color: var(--text-2-color);
  font-size: 20px;
  font-weight: 500;
}
.ser-text:nth-child(2) {
  color: var(--black-color);
  font-size: 22px;
  font-weight: 400;
}
.ser-text:nth-child(3) {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 400;
}

.ser-text {
  position: relative;
}
.ser-text:nth-child(3)::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 1px; 
  height: 1px; 
  background: var(--black-color); 
  width: 80px; 
}

.gray-box {
  background-color: var(--text-color);
  padding: 11px 11px 11px;
  border-radius: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.medtronic-one {
  padding: 20px;
}
.medtronic-one h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 30px;
}
.medtronic-one .medtronic-para-1 {
  font-size: 18px;
  color: var(--black-color);
  margin-bottom: 20px;
  font-weight: 300;
}

.medtronic-one .medtronic-para-2 {
  font-weight: 600;
  margin-top: 80px;
}
.medtronic-one .medtronic-para-2 span {
  color: var(--black-color);
  font-weight: 100;
}

.medtronic-two {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.medtronic-two img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px; 
  padding: 20px 0;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px; 
  font-size: 12px;
  color: #8F9493; 
  position: relative;
}
.feature:before {
  content: "";
  position: absolute;
  top: -10px; 
  left: 0;
  right: 0;
  height: 2px;
  background: #E6E8FA; 
}
.feature:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  background: #00d473; 
  width: 0; 
  transition: width 0.5s ease; 
}


.feature:hover:after {
  width: 100%; 
  cursor: pointer; 
}
.feature:hover{ 
  cursor: pointer; 
}

.features .feature:nth-child(1) {
  color: var(--black-color);
}

.feature span {
  font-weight: 500;
}


/* 
=====================================
Footer Design
===================================== 
*/

.footer {
  background-color: var(--black-color);
}
.footer-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* footer One */

.footer-one h1 {
  color: var(--white-color);
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 30px;
}
.footer-one span {
  color: var(--text-2-color);
  font-weight: 500;
  font-size: 36px;
}

.footer-one .tick-stuff {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer-one .tick-stuff p {
  font-size: 15px;
}
.footer-one .tick-stuff i {
  font-size: 18px;
}

.footer-one .tick-stuff i {
  padding: 5px;
}

/* footer two */

.footer-two {
  color: var(--text-color);
  padding-left: 50px;
  padding-right: 0;
}
.footer-two p {
  font-size: 16px;
}

/* FOOTER NAV */

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* FOOTER NAV LOGO*/

.footer-logo {
  text-align: left;
  flex: 1;
}

.footer-logo span {
  color: #00d473;
  font-size: 39px;
  font-weight: 700;
}
.footer-logo a {
  font-size: 30px;
  color: var(--text-color);
}

/* FOOTER NAV ANCHORS*/

.footer-achors {
  text-align: center;
  flex: 1;
}

.footer .footer-achors a {
  color: var(--text-color);
  font-weight: 300;
}
.footer .footer-achors a {
  color: var(--text-color);
  padding: 5px;
}

/* FOOTER NAV SOCIALS*/

.footer-social {
  display: flex;
  justify-content: end;
  
}
.socials-box {
  height: 40px;
  width: 40px;
  background-color: #3E3E3E;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.footer .footer-social a i {
  font-size: 1rem;
  color: var(--text-color);
  padding-left: 5px;
  padding-right: 5px;
}
.footer .footer-social a i:hover {
  color: #00d473;
}

/* FOOTER NAV COPY RIGHT*/

.copy {
  padding-top: 1.25rem;
  padding-bottom: 2.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .copy-right {
  color: var(--text-color);
  font-size: 14px;
  /* display: flex; */
  flex-wrap: wrap;
}

.footer .copy-right:nth-child(1) {
  text-align: start;
}

.footer .copy-right:nth-child(2) {
  text-align: end;
}
